* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    display: flex;
}

.sedans {
    background-color: #D97925;
    color: #ffffff;
    padding: 50px;
    border-radius: 10px 0 0 10px;
    width: calc(100%/3);
}

.suvs {
    background-color: #016972;
    color: #ffffff;
    padding: 50px;;
    width: calc(100%/3);
}

.luxury {
    background-color: #00403F;
    color: #ffffff;
    padding: 50px;
    border-radius: 0 10px 10px 0;
    width: calc(100%/3);
}

.learn-more-btn {
    background-color: #ffffff;
    color: transparent;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    font-family: system-ui;
    font-weight: 700;
    width: 130px;
    cursor: pointer;
}


.sedans .learn-more-btn {
    color: #D97925;
}

.sedans .learn-more-btn:hover {
    background-color: #D97925;
    border: 2px white solid;
    color: white;
}


.suvs .learn-more-btn {
    color: #016972;
}
.suvs .learn-more-btn:hover {
    background-color: #016972;
    border: 2px white solid;
    color: white;
}

.luxury .learn-more-btn {
    color: #00403F;
}

.luxury .learn-more-btn:hover {
    background-color: #00403F;
    border: 2px white solid;
    color: white;
}
h1 {
    margin: 20px 0;
    font-family: system-ui;
}

.describtion {
    opacity: 0.5;
    font-family: system-ui;
    line-height: 25px;
    margin-bottom: 100px;
}