* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #e0e8ff;
    background-image: url(../ch-4/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    border-radius: 25px;
    width: 420px;
}

.image {
    width: 100%;
}

.image img {
    border-radius: 25px 25px 0 0;
    width: 100%;
}

.summary {
    padding: 20px;
}

h1 {
    color: #1a234a;
    text-align: center;
    font-family: system-ui;
}

.paragraph {
    color: #1a234a;
    padding: 20px;
    text-align: center;
    font-family: system-ui;
    line-height: 25px;
    opacity: 0.5;
    font-weight: 700;
}

.plan {
    background-color: #f8f9fe;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.plan p {
    display: inline-block;
    font-family: system-ui;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 80px;
}

.proceed {
    background-color: #382ae1;
    color: #ffffff;
    text-align: center;
    box-shadow: #382ae1;
    font-family: system-ui;
    padding: 20px;
    border-radius: 25px;
    font-weight: 700;
    box-shadow: #382ae169 0px 19px 38px, #e0e8ff 0px 15px 12px;
}

.proceed:hover {
    opacity: 0.5;
    cursor: pointer;
}

.cancel {
    text-align: center;
    color: #1a234a;
    font-family: system-ui;
    opacity: 0.5;
    padding: 20px;
    font-weight: 700;
}

.cancel:hover {
    opacity: 2;
    cursor: pointer;
}

.annual {
    color: #3c466a;
    font-weight: bold;
}

span {
    color: #757d94;
    font-weight: 500;
}

.change {
    color: #3a29c5;
    text-decoration: underline;
    margin-left: 10px;
}

.change:hover {
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}
